@layout('layouts/app')

@section('content')
  <div class="flex justify-center">
    <div class="m-auto text-center">
      <h1>Sorry, this page isn't available</h1>
      <p class="text-gray-800 text-sm mt-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, ea inventore.</p>
    </div>
  </div>
@endsection
